<% layout('layouts/boilerplate') %>
<form action="/campgrounds/new" method="post">
  <ul class="flex-outer">
    <li>
      <input type="text" id="title" name="title" required />
    </li>

    <li>
      <label for="price">Price</label>
      <input type="Number" id="price" name="price" required />
    </li>

    <li>
      <label for="description">Description</label>
      <input type="text" id="description" name="description" required />
    </li>

    <li>
      <label for="location">Location</label>
      <input type="text" id="location" name="location" required />
    </li>
    <li>
      <button>Create Product</button>
    </li>
  </ul>
  <!-- Different sized labels for horizontal form can be used with the help of .col-form-label-{sm|lg} class -->
  <div class="row">
    <h1 class="text-center">New Campground</h1>
    div.col-6
  </div>

</form>
