<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">New Campgroud</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds/new" method="post">
      <ul class="flex-outer">
        <li class="row mb-3">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" required />
        </li>

        <li>
          <label for="price">Price</label>
          <input type="Number" id="price" name="price" required />
        </li>

        <li>
          <label for="description">Description</label>
          <input type="text" id="description" name="description" required />
        </li>

        <li>
          <label for="location">Location</label>
          <input type="text" id="location" name="location" required />
        </li>
        <li>
          <button>Create Product</button>
        </li>
      </ul>
    </form>
  </div>
</div>
