<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CampGrounds</title>
  </head>
  <body>
    <h1>CampGrounds</h1>

    <ul>
      <li>Title: <%= campground.title %></li>

      <li>Location: <%= campground.location %></li>
    </ul>

    <button>
      <a href="/campgrounds/<%=campground._id%>/update">Edit This Campground</a>
    </button>
    <p></p>
    <form
      action="/campgrounds/<%=campground._id%>/delete?_method=DELETE"
      method="post"
    >
      <button>Delete This Campground</button>
      
    </form>
  </body>
</html>
