<% layout('layouts/boilerplate') %>
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold"><%=status%> <%=name%></h1>
    <p class="fs-3">
      <span class="text-danger">Opps!</span> <%= (message.slice(0,23)) %>
    </p>
    <p class="lead"><%=stack.slice(0,) %>.</p>
    <a href="/campgrounds" class="btn btn-primary">Go Home</a>
  </div>
</div>
